{
    "sourceFile": ".env.example",
    "activeCommit": 0,
    "commits": [
        {
            "activePatchIndex": 0,
            "patches": [
                {
                    "date": 1705041978180,
                    "content": "Index: \n===================================================================\n--- \n+++ \n"
                }
            ],
            "date": 1705041978180,
            "name": "Commit-0",
            "content": "# Copy from .env.local on the Vercel dashboard\n# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database\nPOSTGRES_URL=\"postgres://default:aL5o9BDSPzpI@ep-crimson-feather-89143371-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb\"\nPOSTGRES_PRISMA_URL=\"postgres://default:aL5o9BDSPzpI@ep-crimson-feather-89143371-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15\"\nPOSTGRES_URL_NON_POOLING=\"postgres://default:aL5o9BDSPzpI@ep-crimson-feather-89143371.us-east-1.postgres.vercel-storage.com:5432/verceldb\"\nPOSTGRES_USER=\"default\"\nPOSTGRES_HOST=\"ep-crimson-feather-89143371-pooler.us-east-1.postgres.vercel-storage.com\"\nPOSTGRES_PASSWORD=\"aL5o9BDSPzpI\"\nPOSTGRES_DATABASE=\"verceldb\"\n\n# `openssl rand -base64 32`\nAUTH_SECRET=\nAUTH_URL=http://localhost:3000/api/auth"
        }
    ]
}